/* Import Montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    font-size: 100%;
    padding-top: 60px; /* Adjust to match the header's height */
}

/* Ensure the header items are horizontally aligned */
header {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.7rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Ensure header is above other content */
}

header img {
    height: 1.9rem; /* Adjust logo size */
    margin-left: 0.75rem; /* Adjust if needed for positioning */
}

header a:last-child {
    margin-right: 6rem; /* Adjust to move FAQ slightly closer to the center */
    font-family: sans-serif; /* Font family for FAQ link */
}

header a {
    text-decoration: none;
    color: black;
    font-size: 1.25rem; /* Responsive font size */
    cursor: pointer;
    transition: color 0.3s ease; /* Smooth transition for hover effect */
}

header a:hover {
    color: rgb(12, 200, 12); /* Hover color */
}


/* Responsive Design */
@media (max-width: 768px) {
    header {
        padding: 0.5rem;
        /* Ensure horizontal alignment is maintained */
        justify-content: space-between;
        align-items: center;
    }

    header img {
        height: 1.5rem;
    }

    header a {
        font-size: 1rem;
    }

    header a:last-child {
        margin-right: 1rem; /* Adjust spacing as needed */
    }
}

@media (max-width: 480px) {
    header {
        padding: 0.5rem;
        /* Ensure horizontal alignment is maintained */
        justify-content: space-between;
        align-items: center;
    }

    header img {
        height: 1.5rem;
    }

    header a {
        font-size: 0.9rem; /* Smaller font size for very small screens */
    }

    header a:last-child {
        margin-right: 1rem; /* Adjust spacing as needed */
    }
}
